/* LOADING PAGE */
.cssload-preloader {
    position: absolute;
    left: 50%;
    font-size: 19px;
    display: block;
    width: 3.75em;
    height: 4.25em;
    margin-left: -1.875em;
    margin-top: -2.125em;
    transform-origin: center center;
        -o-transform-origin: center center;
        -ms-transform-origin: center center;
        -webkit-transform-origin: center center;
        -moz-transform-origin: center center;
    transform: rotateY(180deg) rotateZ(-60deg);
        -o-transform: rotateY(180deg) rotateZ(-60deg);
        -ms-transform: rotateY(180deg) rotateZ(-60deg);
        -webkit-transform: rotateY(180deg) rotateZ(-60deg);
        -moz-transform: rotateY(180deg) rotateZ(-60deg);
}

.cssload-preloader .cssload-slice {
    border-top: 1.125em solid transparent;
    border-right: none;
    border-bottom: 1em solid transparent;
    border-left: 1.875em solid #f7484e;
    position: absolute;
    top: 0px;
    left: 50%;
    transform-origin: left bottom;
        -o-transform-origin: left bottom;
        -ms-transform-origin: left bottom;
        -webkit-transform-origin: left bottom;
        -moz-transform-origin: left bottom;
    border-radius: 3px 3px 0 0;
}

.cssload-preloader .cssload-slice:nth-child(1) {
    transform: rotateZ(60deg) rotateY(0deg) rotateX(0);
        -o-transform: rotateZ(60deg) rotateY(0deg) rotateX(0);
        -ms-transform: rotateZ(60deg) rotateY(0deg) rotateX(0);
        -webkit-transform: rotateZ(60deg) rotateY(0deg) rotateX(0);
        -moz-transform: rotateZ(60deg) rotateY(0deg) rotateX(0);
    animation: 0.17s linear 0.94s preload-hide-1 both 1;
        -o-animation: 0.17s linear 0.94s preload-hide-1 both 1;
        -ms-animation: 0.17s linear 0.94s preload-hide-1 both 1;
        -webkit-animation: 0.17s linear 0.94s preload-hide-1 both 1;
        -moz-animation: 0.17s linear 0.94s preload-hide-1 both 1;
}

.cssload-preloader .cssload-slice:nth-child(2) {
    transform: rotateZ(120deg) rotateY(0deg) rotateX(0);
        -o-transform: rotateZ(120deg) rotateY(0deg) rotateX(0);
        -ms-transform: rotateZ(120deg) rotateY(0deg) rotateX(0);
        -webkit-transform: rotateZ(120deg) rotateY(0deg) rotateX(0);
        -moz-transform: rotateZ(120deg) rotateY(0deg) rotateX(0);
    animation: 0.17s linear 0.85s preload-hide-2 both 1;
        -o-animation: 0.17s linear 0.85s preload-hide-2 both 1;
        -ms-animation: 0.17s linear 0.85s preload-hide-2 both 1;
        -webkit-animation: 0.17s linear 0.85s preload-hide-2 both 1;
        -moz-animation: 0.17s linear 0.85s preload-hide-2 both 1;
}

.cssload-preloader .cssload-slice:nth-child(3) {
    transform: rotateZ(180deg) rotateY(0deg) rotateX(0);
        -o-transform: rotateZ(180deg) rotateY(0deg) rotateX(0);
        -ms-transform: rotateZ(180deg) rotateY(0deg) rotateX(0);
        -webkit-transform: rotateZ(180deg) rotateY(0deg) rotateX(0);
        -moz-transform: rotateZ(180deg) rotateY(0deg) rotateX(0);
    animation: 0.17s linear 0.76s preload-hide-3 both 1;
        -o-animation: 0.17s linear 0.76s preload-hide-3 both 1;
        -ms-animation: 0.17s linear 0.76s preload-hide-3 both 1;
        -webkit-animation: 0.17s linear 0.76s preload-hide-3 both 1;
        -moz-animation: 0.17s linear 0.76s preload-hide-3 both 1;
}

.cssload-preloader .cssload-slice:nth-child(4) {
    transform: rotateZ(240deg) rotateY(0deg) rotateX(0);
        -o-transform: rotateZ(240deg) rotateY(0deg) rotateX(0);
        -ms-transform: rotateZ(240deg) rotateY(0deg) rotateX(0);
        -webkit-transform: rotateZ(240deg) rotateY(0deg) rotateX(0);
        -moz-transform: rotateZ(240deg) rotateY(0deg) rotateX(0);
    animation: 0.17s linear 0.67s preload-hide-4 both 1;
        -o-animation: 0.17s linear 0.67s preload-hide-4 both 1;
        -ms-animation: 0.17s linear 0.67s preload-hide-4 both 1;
        -webkit-animation: 0.17s linear 0.67s preload-hide-4 both 1;
        -moz-animation: 0.17s linear 0.67s preload-hide-4 both 1;
}

.cssload-preloader .cssload-slice:nth-child(5) {
    transform: rotateZ(300deg) rotateY(0deg) rotateX(0);
        -o-transform: rotateZ(300deg) rotateY(0deg) rotateX(0);
        -ms-transform: rotateZ(300deg) rotateY(0deg) rotateX(0);
        -webkit-transform: rotateZ(300deg) rotateY(0deg) rotateX(0);
        -moz-transform: rotateZ(300deg) rotateY(0deg) rotateX(0);
    animation: 0.17s linear 0.58s preload-hide-5 both 1;
        -o-animation: 0.17s linear 0.58s preload-hide-5 both 1;
        -ms-animation: 0.17s linear 0.58s preload-hide-5 both 1;
        -webkit-animation: 0.17s linear 0.58s preload-hide-5 both 1;
        -moz-animation: 0.17s linear 0.58s preload-hide-5 both 1;
}

.cssload-preloader .cssload-slice:nth-child(6) {
    transform: rotateZ(360deg) rotateY(0deg) rotateX(0);
        -o-transform: rotateZ(360deg) rotateY(0deg) rotateX(0);
        -ms-transform: rotateZ(360deg) rotateY(0deg) rotateX(0);
        -webkit-transform: rotateZ(360deg) rotateY(0deg) rotateX(0);
        -moz-transform: rotateZ(360deg) rotateY(0deg) rotateX(0);
    animation: 0.17s linear 0.48s preload-hide-6 both 1;
        -o-animation: 0.17s linear 0.48s preload-hide-6 both 1;
        -ms-animation: 0.17s linear 0.48s preload-hide-6 both 1;
        -webkit-animation: 0.17s linear 0.48s preload-hide-6 both 1;
        -moz-animation: 0.17s linear 0.48s preload-hide-6 both 1;
}

.cssload-preloader.cssload-loading {
    animation: 2.3s preload-flip steps(2) infinite both;
        -o-animation: 2.3s preload-flip steps(2) infinite both;
        -ms-animation: 2.3s preload-flip steps(2) infinite both;
        -webkit-animation: 2.3s preload-flip steps(2) infinite both;
        -moz-animation: 2.3s preload-flip steps(2) infinite both;
}

.cssload-preloader.cssload-loading .cssload-slice:nth-child(1) {
    transform: rotateZ(60deg) rotateY(90deg) rotateX(0);
        -o-transform: rotateZ(60deg) rotateY(90deg) rotateX(0);
        -ms-transform: rotateZ(60deg) rotateY(90deg) rotateX(0);
        -webkit-transform: rotateZ(60deg) rotateY(90deg) rotateX(0);
        -moz-transform: rotateZ(60deg) rotateY(90deg) rotateX(0);
    animation: 2.3s preload-cycle-1 linear infinite both;
        -o-animation: 2.3s preload-cycle-1 linear infinite both;
        -ms-animation: 2.3s preload-cycle-1 linear infinite both;
        -webkit-animation: 2.3s preload-cycle-1 linear infinite both;
        -moz-animation: 2.3s preload-cycle-1 linear infinite both;
}

.cssload-preloader.cssload-loading .cssload-slice:nth-child(2) {
    transform: rotateZ(120deg) rotateY(90deg) rotateX(0);
        -o-transform: rotateZ(120deg) rotateY(90deg) rotateX(0);
        -ms-transform: rotateZ(120deg) rotateY(90deg) rotateX(0);
        -webkit-transform: rotateZ(120deg) rotateY(90deg) rotateX(0);
        -moz-transform: rotateZ(120deg) rotateY(90deg) rotateX(0);
    animation: 2.3s preload-cycle-2 linear infinite both;
        -o-animation: 2.3s preload-cycle-2 linear infinite both;
        -ms-animation: 2.3s preload-cycle-2 linear infinite both;
        -webkit-animation: 2.3s preload-cycle-2 linear infinite both;
        -moz-animation: 2.3s preload-cycle-2 linear infinite both;
}

.cssload-preloader.cssload-loading .cssload-slice:nth-child(3) {
    transform: rotateZ(180deg) rotateY(90deg) rotateX(0);
        -o-transform: rotateZ(180deg) rotateY(90deg) rotateX(0);
        -ms-transform: rotateZ(180deg) rotateY(90deg) rotateX(0);
        -webkit-transform: rotateZ(180deg) rotateY(90deg) rotateX(0);
        -moz-transform: rotateZ(180deg) rotateY(90deg) rotateX(0);
    animation: 2.3s preload-cycle-3 linear infinite both;
        -o-animation: 2.3s preload-cycle-3 linear infinite both;
        -ms-animation: 2.3s preload-cycle-3 linear infinite both;
        -webkit-animation: 2.3s preload-cycle-3 linear infinite both;
        -moz-animation: 2.3s preload-cycle-3 linear infinite both;
}

.cssload-preloader.cssload-loading .cssload-slice:nth-child(4) {
    transform: rotateZ(240deg) rotateY(90deg) rotateX(0);
        -o-transform: rotateZ(240deg) rotateY(90deg) rotateX(0);
        -ms-transform: rotateZ(240deg) rotateY(90deg) rotateX(0);
        -webkit-transform: rotateZ(240deg) rotateY(90deg) rotateX(0);
        -moz-transform: rotateZ(240deg) rotateY(90deg) rotateX(0);
    animation: 2.3s preload-cycle-4 linear infinite both;
        -o-animation: 2.3s preload-cycle-4 linear infinite both;
        -ms-animation: 2.3s preload-cycle-4 linear infinite both;
        -webkit-animation: 2.3s preload-cycle-4 linear infinite both;
        -moz-animation: 2.3s preload-cycle-4 linear infinite both;
}

.cssload-preloader.cssload-loading .cssload-slice:nth-child(5) {
    transform: rotateZ(300deg) rotateY(90deg) rotateX(0);
        -o-transform: rotateZ(300deg) rotateY(90deg) rotateX(0);
        -ms-transform: rotateZ(300deg) rotateY(90deg) rotateX(0);
        -webkit-transform: rotateZ(300deg) rotateY(90deg) rotateX(0);
        -moz-transform: rotateZ(300deg) rotateY(90deg) rotateX(0);
    animation: 2.3s preload-cycle-5 linear infinite both;
        -o-animation: 2.3s preload-cycle-5 linear infinite both;
        -ms-animation: 2.3s preload-cycle-5 linear infinite both;
        -webkit-animation: 2.3s preload-cycle-5 linear infinite both;
        -moz-animation: 2.3s preload-cycle-5 linear infinite both;
}

.cssload-preloader.cssload-loading .cssload-slice:nth-child(6) {
    transform: rotateZ(360deg) rotateY(90deg) rotateX(0);
        -o-transform: rotateZ(360deg) rotateY(90deg) rotateX(0);
        -ms-transform: rotateZ(360deg) rotateY(90deg) rotateX(0);
        -webkit-transform: rotateZ(360deg) rotateY(90deg) rotateX(0);
        -moz-transform: rotateZ(360deg) rotateY(90deg) rotateX(0);
    animation: 2.3s preload-cycle-6 linear infinite both;
        -o-animation: 2.3s preload-cycle-6 linear infinite both;
        -ms-animation: 2.3s preload-cycle-6 linear infinite both;
        -webkit-animation: 2.3s preload-cycle-6 linear infinite both;
        -moz-animation: 2.3s preload-cycle-6 linear infinite both;
}


@keyframes preload-show-1 {
    from {
        transform: rotateZ(60deg) rotateY(-90deg) rotateX(0deg);
        border-left-color: rgb(156,47,47);
    }
}

@-o-keyframes preload-show-1 {
    from {
        -o-transform: rotateZ(60deg) rotateY(-90deg) rotateX(0deg);
        border-left-color: rgb(156,47,47);
    }
}

@-ms-keyframes preload-show-1 {
    from {
        -ms-transform: rotateZ(60deg) rotateY(-90deg) rotateX(0deg);
        border-left-color: rgb(156,47,47);
    }
}

@-webkit-keyframes preload-show-1 {
    from {
        -webkit-transform: rotateZ(60deg) rotateY(-90deg) rotateX(0deg);
        border-left-color: rgb(156,47,47);
    }
}

@-moz-keyframes preload-show-1 {
    from {
        -moz-transform: rotateZ(60deg) rotateY(-90deg) rotateX(0deg);
        border-left-color: rgb(156,47,47);
    }
}

@keyframes preload-hide-1 {
    to {
        transform: rotateZ(60deg) rotateY(-90deg) rotateX(0deg);
        border-left-color: rgb(156,47,47);
    }
}

@-o-keyframes preload-hide-1 {
    to {
        -o-transform: rotateZ(60deg) rotateY(-90deg) rotateX(0deg);
        border-left-color: rgb(156,47,47);
    }
}

@-ms-keyframes preload-hide-1 {
    to {
        -ms-transform: rotateZ(60deg) rotateY(-90deg) rotateX(0deg);
        border-left-color: rgb(156,47,47);
    }
}

@-webkit-keyframes preload-hide-1 {
    to {
        -webkit-transform: rotateZ(60deg) rotateY(-90deg) rotateX(0deg);
        border-left-color: rgb(156,47,47);
    }
}

@-moz-keyframes preload-hide-1 {
    to {
        -moz-transform: rotateZ(60deg) rotateY(-90deg) rotateX(0deg);
        border-left-color: rgb(156,47,47);
    }
}

@keyframes preload-cycle-1 {
    5% {
        transform: rotateZ(60deg) rotateY(90deg) rotateX(0deg);
        border-left-color: rgb(156,47,47);
    }
    10%,
        75% {
        transform: rotateZ(60deg) rotateY(0) rotateX(0deg);
        border-left-color: rgb(247,72,78);
    }
    80%,
        100% {
        transform: rotateZ(60deg) rotateY(90deg) rotateX(0deg);
        border-left-color: rgb(156,47,47);
    }
}

@-o-keyframes preload-cycle-1 {
    5% {
        -o-transform: rotateZ(60deg) rotateY(90deg) rotateX(0deg);
        border-left-color: rgb(156,47,47);
    }
    10%,
        75% {
        -o-transform: rotateZ(60deg) rotateY(0) rotateX(0deg);
        border-left-color: rgb(247,72,78);
    }
    80%,
        100% {
        -o-transform: rotateZ(60deg) rotateY(90deg) rotateX(0deg);
        border-left-color: rgb(156,47,47);
    }
}

@-ms-keyframes preload-cycle-1 {
    5% {
        -ms-transform: rotateZ(60deg) rotateY(90deg) rotateX(0deg);
        border-left-color: rgb(156,47,47);
    }
    10%,
        75% {
        -ms-transform: rotateZ(60deg) rotateY(0) rotateX(0deg);
        border-left-color: rgb(247,72,78);
    }
    80%,
        100% {
        -ms-transform: rotateZ(60deg) rotateY(90deg) rotateX(0deg);
        border-left-color: rgb(156,47,47);
    }
}

@-webkit-keyframes preload-cycle-1 {
    5% {
        -webkit-transform: rotateZ(60deg) rotateY(90deg) rotateX(0deg);
        border-left-color: rgb(156,47,47);
    }
    10%,
        75% {
        -webkit-transform: rotateZ(60deg) rotateY(0) rotateX(0deg);
        border-left-color: rgb(247,72,78);
    }
    80%,
        100% {
        -webkit-transform: rotateZ(60deg) rotateY(90deg) rotateX(0deg);
        border-left-color: rgb(156,47,47);
    }
}

@-moz-keyframes preload-cycle-1 {
    5% {
        -moz-transform: rotateZ(60deg) rotateY(90deg) rotateX(0deg);
        border-left-color: rgb(156,47,47);
    }
    10%,
        75% {
        -moz-transform: rotateZ(60deg) rotateY(0) rotateX(0deg);
        border-left-color: rgb(247,72,78);
    }
    80%,
        100% {
        -moz-transform: rotateZ(60deg) rotateY(90deg) rotateX(0deg);
        border-left-color: rgb(156,47,47);
    }
}

@keyframes preload-show-2 {
    from {
        transform: rotateZ(120deg) rotateY(-90deg) rotateX(0deg);
        border-left-color: rgb(156,47,47);
    }
}

@-o-keyframes preload-show-2 {
    from {
        -o-transform: rotateZ(120deg) rotateY(-90deg) rotateX(0deg);
        border-left-color: rgb(156,47,47);
    }
}

@-ms-keyframes preload-show-2 {
    from {
        -ms-transform: rotateZ(120deg) rotateY(-90deg) rotateX(0deg);
        border-left-color: rgb(156,47,47);
    }
}

@-webkit-keyframes preload-show-2 {
    from {
        -webkit-transform: rotateZ(120deg) rotateY(-90deg) rotateX(0deg);
        border-left-color: rgb(156,47,47);
    }
}

@-moz-keyframes preload-show-2 {
    from {
        -moz-transform: rotateZ(120deg) rotateY(-90deg) rotateX(0deg);
        border-left-color: rgb(156,47,47);
    }
}

@keyframes preload-hide-2 {
    to {
        transform: rotateZ(120deg) rotateY(-90deg) rotateX(0deg);
        border-left-color: rgb(156,47,47);
    }
}

@-o-keyframes preload-hide-2 {
    to {
        -o-transform: rotateZ(120deg) rotateY(-90deg) rotateX(0deg);
        border-left-color: rgb(156,47,47);
    }
}

@-ms-keyframes preload-hide-2 {
    to {
        -ms-transform: rotateZ(120deg) rotateY(-90deg) rotateX(0deg);
        border-left-color: rgb(156,47,47);
    }
}

@-webkit-keyframes preload-hide-2 {
    to {
        -webkit-transform: rotateZ(120deg) rotateY(-90deg) rotateX(0deg);
        border-left-color: rgb(156,47,47);
    }
}

@-moz-keyframes preload-hide-2 {
    to {
        -moz-transform: rotateZ(120deg) rotateY(-90deg) rotateX(0deg);
        border-left-color: rgb(156,47,47);
    }
}

@keyframes preload-cycle-2 {
    10% {
        transform: rotateZ(120deg) rotateY(90deg) rotateX(0deg);
        border-left-color: rgb(156,47,47);
    }
    15%,
        70% {
        transform: rotateZ(120deg) rotateY(0) rotateX(0deg);
        border-left-color: rgb(247,72,78);
    }
    75%,
        100% {
        transform: rotateZ(120deg) rotateY(90deg) rotateX(0deg);
        border-left-color: rgb(156,47,47);
    }
}

@-o-keyframes preload-cycle-2 {
    10% {
        -o-transform: rotateZ(120deg) rotateY(90deg) rotateX(0deg);
        border-left-color: rgb(156,47,47);
    }
    15%,
        70% {
        -o-transform: rotateZ(120deg) rotateY(0) rotateX(0deg);
        border-left-color: rgb(247,72,78);
    }
    75%,
        100% {
        -o-transform: rotateZ(120deg) rotateY(90deg) rotateX(0deg);
        border-left-color: rgb(156,47,47);
    }
}

@-ms-keyframes preload-cycle-2 {
    10% {
        -ms-transform: rotateZ(120deg) rotateY(90deg) rotateX(0deg);
        border-left-color: rgb(156,47,47);
    }
    15%,
        70% {
        -ms-transform: rotateZ(120deg) rotateY(0) rotateX(0deg);
        border-left-color: rgb(247,72,78);
    }
    75%,
        100% {
        -ms-transform: rotateZ(120deg) rotateY(90deg) rotateX(0deg);
        border-left-color: rgb(156,47,47);
    }
}

@-webkit-keyframes preload-cycle-2 {
    10% {
        -webkit-transform: rotateZ(120deg) rotateY(90deg) rotateX(0deg);
        border-left-color: rgb(156,47,47);
    }
    15%,
        70% {
        -webkit-transform: rotateZ(120deg) rotateY(0) rotateX(0deg);
        border-left-color: rgb(247,72,78);
    }
    75%,
        100% {
        -webkit-transform: rotateZ(120deg) rotateY(90deg) rotateX(0deg);
        border-left-color: rgb(156,47,47);
    }
}

@-moz-keyframes preload-cycle-2 {
    10% {
        -moz-transform: rotateZ(120deg) rotateY(90deg) rotateX(0deg);
        border-left-color: rgb(156,47,47);
    }
    15%,
        70% {
        -moz-transform: rotateZ(120deg) rotateY(0) rotateX(0deg);
        border-left-color: rgb(247,72,78);
    }
    75%,
        100% {
        -moz-transform: rotateZ(120deg) rotateY(90deg) rotateX(0deg);
        border-left-color: rgb(156,47,47);
    }
}

@keyframes preload-show-3 {
    from {
        transform: rotateZ(180deg) rotateY(-90deg) rotateX(0deg);
        border-left-color: rgb(156,47,47);
    }
}

@-o-keyframes preload-show-3 {
    from {
        -o-transform: rotateZ(180deg) rotateY(-90deg) rotateX(0deg);
        border-left-color: rgb(156,47,47);
    }
}

@-ms-keyframes preload-show-3 {
    from {
        -ms-transform: rotateZ(180deg) rotateY(-90deg) rotateX(0deg);
        border-left-color: rgb(156,47,47);
    }
}

@-webkit-keyframes preload-show-3 {
    from {
        -webkit-transform: rotateZ(180deg) rotateY(-90deg) rotateX(0deg);
        border-left-color: rgb(156,47,47);
    }
}

@-moz-keyframes preload-show-3 {
    from {
        -moz-transform: rotateZ(180deg) rotateY(-90deg) rotateX(0deg);
        border-left-color: rgb(156,47,47);
    }
}

@keyframes preload-hide-3 {
    to {
        transform: rotateZ(180deg) rotateY(-90deg) rotateX(0deg);
        border-left-color: rgb(156,47,47);
    }
}

@-o-keyframes preload-hide-3 {
    to {
        -o-transform: rotateZ(180deg) rotateY(-90deg) rotateX(0deg);
        border-left-color: rgb(156,47,47);
    }
}

@-ms-keyframes preload-hide-3 {
    to {
        -ms-transform: rotateZ(180deg) rotateY(-90deg) rotateX(0deg);
        border-left-color: rgb(156,47,47);
    }
}

@-webkit-keyframes preload-hide-3 {
    to {
        -webkit-transform: rotateZ(180deg) rotateY(-90deg) rotateX(0deg);
        border-left-color: rgb(156,47,47);
    }
}

@-moz-keyframes preload-hide-3 {
    to {
        -moz-transform: rotateZ(180deg) rotateY(-90deg) rotateX(0deg);
        border-left-color: rgb(156,47,47);
    }
}

@keyframes preload-cycle-3 {
    15% {
        transform: rotateZ(180deg) rotateY(90deg) rotateX(0deg);
        border-left-color: rgb(156,47,47);
    }
    20%,
        65% {
        transform: rotateZ(180deg) rotateY(0) rotateX(0deg);
        border-left-color: rgb(247,72,78);
    }
    70%,
        100% {
        transform: rotateZ(180deg) rotateY(90deg) rotateX(0deg);
        border-left-color: rgb(156,47,47);
    }
}

@-o-keyframes preload-cycle-3 {
    15% {
        -o-transform: rotateZ(180deg) rotateY(90deg) rotateX(0deg);
        border-left-color: rgb(156,47,47);
    }
    20%,
        65% {
        -o-transform: rotateZ(180deg) rotateY(0) rotateX(0deg);
        border-left-color: rgb(247,72,78);
    }
    70%,
        100% {
        -o-transform: rotateZ(180deg) rotateY(90deg) rotateX(0deg);
        border-left-color: rgb(156,47,47);
    }
}

@-ms-keyframes preload-cycle-3 {
    15% {
        -ms-transform: rotateZ(180deg) rotateY(90deg) rotateX(0deg);
        border-left-color: rgb(156,47,47);
    }
    20%,
        65% {
        -ms-transform: rotateZ(180deg) rotateY(0) rotateX(0deg);
        border-left-color: rgb(247,72,78);
    }
    70%,
        100% {
        -ms-transform: rotateZ(180deg) rotateY(90deg) rotateX(0deg);
        border-left-color: rgb(156,47,47);
    }
}

@-webkit-keyframes preload-cycle-3 {
    15% {
        -webkit-transform: rotateZ(180deg) rotateY(90deg) rotateX(0deg);
        border-left-color: rgb(156,47,47);
    }
    20%,
        65% {
        -webkit-transform: rotateZ(180deg) rotateY(0) rotateX(0deg);
        border-left-color: rgb(247,72,78);
    }
    70%,
        100% {
        -webkit-transform: rotateZ(180deg) rotateY(90deg) rotateX(0deg);
        border-left-color: rgb(156,47,47);
    }
}

@-moz-keyframes preload-cycle-3 {
    15% {
        -moz-transform: rotateZ(180deg) rotateY(90deg) rotateX(0deg);
        border-left-color: rgb(156,47,47);
    }
    20%,
        65% {
        -moz-transform: rotateZ(180deg) rotateY(0) rotateX(0deg);
        border-left-color: rgb(247,72,78);
    }
    70%,
        100% {
        -moz-transform: rotateZ(180deg) rotateY(90deg) rotateX(0deg);
        border-left-color: rgb(156,47,47);
    }
}

@keyframes preload-show-4 {
    from {
        transform: rotateZ(240deg) rotateY(-90deg) rotateX(0deg);
        border-left-color: rgb(156,47,47);
    }
}

@-o-keyframes preload-show-4 {
    from {
        -o-transform: rotateZ(240deg) rotateY(-90deg) rotateX(0deg);
        border-left-color: rgb(156,47,47);
    }
}

@-ms-keyframes preload-show-4 {
    from {
        -ms-transform: rotateZ(240deg) rotateY(-90deg) rotateX(0deg);
        border-left-color: rgb(156,47,47);
    }
}

@-webkit-keyframes preload-show-4 {
    from {
        -webkit-transform: rotateZ(240deg) rotateY(-90deg) rotateX(0deg);
        border-left-color: rgb(156,47,47);
    }
}

@-moz-keyframes preload-show-4 {
    from {
        -moz-transform: rotateZ(240deg) rotateY(-90deg) rotateX(0deg);
        border-left-color: rgb(156,47,47);
    }
}

@keyframes preload-hide-4 {
    to {
        transform: rotateZ(240deg) rotateY(-90deg) rotateX(0deg);
        border-left-color: #9c2f2f;
    }
}

@-o-keyframes preload-hide-4 {
    to {
        -o-transform: rotateZ(240deg) rotateY(-90deg) rotateX(0deg);
        border-left-color: #9c2f2f;
    }
}

@-ms-keyframes preload-hide-4 {
    to {
        -ms-transform: rotateZ(240deg) rotateY(-90deg) rotateX(0deg);
        border-left-color: #9c2f2f;
    }
}

@-webkit-keyframes preload-hide-4 {
    to {
        -webkit-transform: rotateZ(240deg) rotateY(-90deg) rotateX(0deg);
        border-left-color: #9c2f2f;
    }
}

@-moz-keyframes preload-hide-4 {
    to {
        -moz-transform: rotateZ(240deg) rotateY(-90deg) rotateX(0deg);
        border-left-color: #9c2f2f;
    }
}

@keyframes preload-cycle-4 {
    20% {
        transform: rotateZ(240deg) rotateY(90deg) rotateX(0deg);
        border-left-color: #9c2f2f;
    }
    25%,
        60% {
        transform: rotateZ(240deg) rotateY(0) rotateX(0deg);
        border-left-color: #f7484e;
    }
    65%,
        100% {
        transform: rotateZ(240deg) rotateY(90deg) rotateX(0deg);
        border-left-color: #9c2f2f;
    }
}

@-o-keyframes preload-cycle-4 {
    20% {
        -o-transform: rotateZ(240deg) rotateY(90deg) rotateX(0deg);
        border-left-color: #9c2f2f;
    }
    25%,
        60% {
        -o-transform: rotateZ(240deg) rotateY(0) rotateX(0deg);
        border-left-color: #f7484e;
    }
    65%,
        100% {
        -o-transform: rotateZ(240deg) rotateY(90deg) rotateX(0deg);
        border-left-color: #9c2f2f;
    }
}

@-ms-keyframes preload-cycle-4 {
    20% {
        -ms-transform: rotateZ(240deg) rotateY(90deg) rotateX(0deg);
        border-left-color: #9c2f2f;
    }
    25%,
        60% {
        -ms-transform: rotateZ(240deg) rotateY(0) rotateX(0deg);
        border-left-color: #f7484e;
    }
    65%,
        100% {
        -ms-transform: rotateZ(240deg) rotateY(90deg) rotateX(0deg);
        border-left-color: #9c2f2f;
    }
}

@-webkit-keyframes preload-cycle-4 {
    20% {
        -webkit-transform: rotateZ(240deg) rotateY(90deg) rotateX(0deg);
        border-left-color: #9c2f2f;
    }
    25%,
        60% {
        -webkit-transform: rotateZ(240deg) rotateY(0) rotateX(0deg);
        border-left-color: #f7484e;
    }
    65%,
        100% {
        -webkit-transform: rotateZ(240deg) rotateY(90deg) rotateX(0deg);
        border-left-color: #9c2f2f;
    }
}

@-moz-keyframes preload-cycle-4 {
    20% {
        -moz-transform: rotateZ(240deg) rotateY(90deg) rotateX(0deg);
        border-left-color: #9c2f2f;
    }
    25%,
        60% {
        -moz-transform: rotateZ(240deg) rotateY(0) rotateX(0deg);
        border-left-color: #f7484e;
    }
    65%,
        100% {
        -moz-transform: rotateZ(240deg) rotateY(90deg) rotateX(0deg);
        border-left-color: #9c2f2f;
    }
}

@keyframes preload-show-5 {
    from {
        transform: rotateZ(300deg) rotateY(-90deg) rotateX(0deg);
        border-left-color: #9c2f2f;
    }
}

@-o-keyframes preload-show-5 {
    from {
        -o-transform: rotateZ(300deg) rotateY(-90deg) rotateX(0deg);
        border-left-color: #9c2f2f;
    }
}

@-ms-keyframes preload-show-5 {
    from {
        -ms-transform: rotateZ(300deg) rotateY(-90deg) rotateX(0deg);
        border-left-color: #9c2f2f;
    }
}

@-webkit-keyframes preload-show-5 {
    from {
        -webkit-transform: rotateZ(300deg) rotateY(-90deg) rotateX(0deg);
        border-left-color: #9c2f2f;
    }
}

@-moz-keyframes preload-show-5 {
    from {
        -moz-transform: rotateZ(300deg) rotateY(-90deg) rotateX(0deg);
        border-left-color: #9c2f2f;
    }
}

@keyframes preload-hide-5 {
    to {
        transform: rotateZ(300deg) rotateY(-90deg) rotateX(0deg);
        border-left-color: #9c2f2f;
    }
}

@-o-keyframes preload-hide-5 {
    to {
        -o-transform: rotateZ(300deg) rotateY(-90deg) rotateX(0deg);
        border-left-color: #9c2f2f;
    }
}

@-ms-keyframes preload-hide-5 {
    to {
        -ms-transform: rotateZ(300deg) rotateY(-90deg) rotateX(0deg);
        border-left-color: #9c2f2f;
    }
}

@-webkit-keyframes preload-hide-5 {
    to {
        -webkit-transform: rotateZ(300deg) rotateY(-90deg) rotateX(0deg);
        border-left-color: #9c2f2f;
    }
}

@-moz-keyframes preload-hide-5 {
    to {
        -moz-transform: rotateZ(300deg) rotateY(-90deg) rotateX(0deg);
        border-left-color: #9c2f2f;
    }
}

@keyframes preload-cycle-5 {
    25% {
        transform: rotateZ(300deg) rotateY(90deg) rotateX(0deg);
        border-left-color: #9c2f2f;
    }
    30%,
        55% {
        transform: rotateZ(300deg) rotateY(0) rotateX(0deg);
        border-left-color: #f7484e;
    }
    60%,
        100% {
        transform: rotateZ(300deg) rotateY(90deg) rotateX(0deg);
        border-left-color: #9c2f2f;
    }
}

@-o-keyframes preload-cycle-5 {
    25% {
        -o-transform: rotateZ(300deg) rotateY(90deg) rotateX(0deg);
        border-left-color: #9c2f2f;
    }
    30%,
        55% {
        -o-transform: rotateZ(300deg) rotateY(0) rotateX(0deg);
        border-left-color: #f7484e;
    }
    60%,
        100% {
        -o-transform: rotateZ(300deg) rotateY(90deg) rotateX(0deg);
        border-left-color: #9c2f2f;
    }
}

@-ms-keyframes preload-cycle-5 {
    25% {
        -ms-transform: rotateZ(300deg) rotateY(90deg) rotateX(0deg);
        border-left-color: #9c2f2f;
    }
    30%,
        55% {
        -ms-transform: rotateZ(300deg) rotateY(0) rotateX(0deg);
        border-left-color: #f7484e;
    }
    60%,
        100% {
        -ms-transform: rotateZ(300deg) rotateY(90deg) rotateX(0deg);
        border-left-color: #9c2f2f;
    }
}

@-webkit-keyframes preload-cycle-5 {
    25% {
        -webkit-transform: rotateZ(300deg) rotateY(90deg) rotateX(0deg);
        border-left-color: #9c2f2f;
    }
    30%,
        55% {
        -webkit-transform: rotateZ(300deg) rotateY(0) rotateX(0deg);
        border-left-color: #f7484e;
    }
    60%,
        100% {
        -webkit-transform: rotateZ(300deg) rotateY(90deg) rotateX(0deg);
        border-left-color: #9c2f2f;
    }
}

@-moz-keyframes preload-cycle-5 {
    25% {
        -moz-transform: rotateZ(300deg) rotateY(90deg) rotateX(0deg);
        border-left-color: #9c2f2f;
    }
    30%,
        55% {
        -moz-transform: rotateZ(300deg) rotateY(0) rotateX(0deg);
        border-left-color: #f7484e;
    }
    60%,
        100% {
        -moz-transform: rotateZ(300deg) rotateY(90deg) rotateX(0deg);
        border-left-color: #9c2f2f;
    }
}

@keyframes preload-show-6 {
    from {
        transform: rotateZ(360deg) rotateY(-90deg) rotateX(0deg);
        border-left-color: #9c2f2f;
    }
}

@-o-keyframes preload-show-6 {
    from {
        -o-transform: rotateZ(360deg) rotateY(-90deg) rotateX(0deg);
        border-left-color: #9c2f2f;
    }
}

@-ms-keyframes preload-show-6 {
    from {
        -ms-transform: rotateZ(360deg) rotateY(-90deg) rotateX(0deg);
        border-left-color: #9c2f2f;
    }
}

@-webkit-keyframes preload-show-6 {
    from {
        -webkit-transform: rotateZ(360deg) rotateY(-90deg) rotateX(0deg);
        border-left-color: #9c2f2f;
    }
}

@-moz-keyframes preload-show-6 {
    from {
        -moz-transform: rotateZ(360deg) rotateY(-90deg) rotateX(0deg);
        border-left-color: #9c2f2f;
    }
}

@keyframes preload-hide-6 {
    to {
        transform: rotateZ(360deg) rotateY(-90deg) rotateX(0deg);
        border-left-color: #9c2f2f;
    }
}

@-o-keyframes preload-hide-6 {
    to {
        -o-transform: rotateZ(360deg) rotateY(-90deg) rotateX(0deg);
        border-left-color: #9c2f2f;
    }
}

@-ms-keyframes preload-hide-6 {
    to {
        -ms-transform: rotateZ(360deg) rotateY(-90deg) rotateX(0deg);
        border-left-color: #9c2f2f;
    }
}

@-webkit-keyframes preload-hide-6 {
    to {
        -webkit-transform: rotateZ(360deg) rotateY(-90deg) rotateX(0deg);
        border-left-color: #9c2f2f;
    }
}

@-moz-keyframes preload-hide-6 {
    to {
        -moz-transform: rotateZ(360deg) rotateY(-90deg) rotateX(0deg);
        border-left-color: #9c2f2f;
    }
}

@keyframes preload-cycle-6 {
    30% {
        transform: rotateZ(360deg) rotateY(90deg) rotateX(0deg);
        border-left-color: #9c2f2f;
    }
    35%,
        50% {
        transform: rotateZ(360deg) rotateY(0) rotateX(0deg);
        border-left-color: #f7484e;
    }
    55%,
        100% {
        transform: rotateZ(360deg) rotateY(90deg) rotateX(0deg);
        border-left-color: #9c2f2f;
    }
}

@-o-keyframes preload-cycle-6 {
    30% {
        -o-transform: rotateZ(360deg) rotateY(90deg) rotateX(0deg);
        border-left-color: #9c2f2f;
    }
    35%,
        50% {
        -o-transform: rotateZ(360deg) rotateY(0) rotateX(0deg);
        border-left-color: #f7484e;
    }
    55%,
        100% {
        -o-transform: rotateZ(360deg) rotateY(90deg) rotateX(0deg);
        border-left-color: #9c2f2f;
    }
}

@-ms-keyframes preload-cycle-6 {
    30% {
        -ms-transform: rotateZ(360deg) rotateY(90deg) rotateX(0deg);
        border-left-color: #9c2f2f;
    }
    35%,
        50% {
        -ms-transform: rotateZ(360deg) rotateY(0) rotateX(0deg);
        border-left-color: #f7484e;
    }
    55%,
        100% {
        -ms-transform: rotateZ(360deg) rotateY(90deg) rotateX(0deg);
        border-left-color: #9c2f2f;
    }
}

@-webkit-keyframes preload-cycle-6 {
    30% {
        -webkit-transform: rotateZ(360deg) rotateY(90deg) rotateX(0deg);
        border-left-color: #9c2f2f;
    }
    35%,
        50% {
        -webkit-transform: rotateZ(360deg) rotateY(0) rotateX(0deg);
        border-left-color: #f7484e;
    }
    55%,
        100% {
        -webkit-transform: rotateZ(360deg) rotateY(90deg) rotateX(0deg);
        border-left-color: #9c2f2f;
    }
}

@-moz-keyframes preload-cycle-6 {
    30% {
        -moz-transform: rotateZ(360deg) rotateY(90deg) rotateX(0deg);
        border-left-color: #9c2f2f;
    }
    35%,
        50% {
        -moz-transform: rotateZ(360deg) rotateY(0) rotateX(0deg);
        border-left-color: #f7484e;
    }
    55%,
        100% {
        -moz-transform: rotateZ(360deg) rotateY(90deg) rotateX(0deg);
        border-left-color: #9c2f2f;
    }
}

@keyframes preload-flip {
    0% {
        transform: rotateY(0deg) rotateZ(-60deg);
    }
    100% {
        transform: rotateY(360deg) rotateZ(-60deg);
    }
}

@-o-keyframes preload-flip {
    0% {
        -o-transform: rotateY(0deg) rotateZ(-60deg);
    }
    100% {
        -o-transform: rotateY(360deg) rotateZ(-60deg);
    }
}

@-ms-keyframes preload-flip {
    0% {
        -ms-transform: rotateY(0deg) rotateZ(-60deg);
    }
    100% {
        -ms-transform: rotateY(360deg) rotateZ(-60deg);
    }
}

@-webkit-keyframes preload-flip {
    0% {
        -webkit-transform: rotateY(0deg) rotateZ(-60deg);
    }
    100% {
        -webkit-transform: rotateY(360deg) rotateZ(-60deg);
    }
}

@-moz-keyframes preload-flip {
    0% {
        -moz-transform: rotateY(0deg) rotateZ(-60deg);
    }
    100% {
        -moz-transform: rotateY(360deg) rotateZ(-60deg);
    }
}
/* LOADING PAGE */


@font-face {
    font-family: "Open Sans";
    src: local("Open Sans"),
      url(../fonts/OpenSans.ttf);
 }
@font-face {
    font-family: "ChampagneLimousines";
    src: local("ChampagneLimousines"),
      url(../fonts/ChampagneLimousines.ttf);
 }
@font-face {
    font-family: "Enigmatic";
    src: local("Enigmatic"),
      url(../fonts/Enigmatic.ttf);
 }
 @font-face {
    font-family: "FRANKLIN GOTHIC BOOK";
    src: local("FRANKLIN GOTHIC BOOK"),
      url(../fonts/FRABK.ttf);
 }
  @font-face {
    font-family: "Arial Rounded MT Bold";
    src: local("Arial Rounded MT Bold"),
      url(../fonts/ARLRDBD.TTF);
 }
  
html,body,*{
	padding: 0;
	margin: 0;
	outline: 0;
	border: 0;
}
html {
   height: 100%;
}
body {
   min-height:100%;
}
ul{
	list-style-type: none;
}
a{
	text-decoration: none;
	color: inherit;
}
a,p,span{
	font-family: "Open Sans";
}
body{
    background-color: #f6f6f6;
}

.footer, .middle-label-video, .center-second-slide, .col-sm-4, input[type=text], .left-menu, .field textarea, .success-creating, .collaboration-block, .sponsor-block, .list_category, .search-block{	
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.loading-name, .wrap-checkbox h4, .center-second-slide p, .center-second-slide h3, .wrap-third-slide p, .wrap-third-slide h3, .center-fourth-slide p, .center-fourth-slide h3, .index-instruction h3, 
.index-instruction p, .registration-form h3, .registration-form label, .error-registration{
    font-family: "Enigmatic";
}


/* REGISTRATION */

.wrap-checkbox{
    width: 45%;
}
.second-block{
    margin-left: 50%;
}
.first-block{
    float: left;
}
.registration-form{
    width: 66%;
    margin: 20px auto;
    padding: 100px 10px 10px 10px;
}
.wrap-form-fields{
    padding: 10px 0;
    overflow: hidden;
}
.field {
    width: 100%;
    float: left;
    padding: 0 0 23px;
    margin: 0;
}
.field label {
    display: block;
    float: left;
    width: 100%;
    padding: 0 0 5px;
    margin: 0;
    color: #000000;
    font-size: 18px;
    line-height: 22px;
}
.field input[type=text], .field select, .field textarea{
    background: #ffffff;
    border: 1px solid #568ce2;
    outline: none;
    display: block;
    float: left;
    width: 100%;
    padding: 0 10px;
    margin: 0;
    line-height: 43px;
    height: 45px;
    color: #000000;
    font-size: 18px;
    font-weight: 300;
}
.field textarea{
    height: 300px;
    resize: none;
}
.form-fields{
    float: left;
    width: 54%;
}
.wrap-hint-and-fields{
    overflow: hidden;
}
.wrap-hint-and-fields .hint{
    margin-left: 58%;
}
.field .add-category, input[type=submit]{
    background: #568ce2;
    padding: 6px 30px;
    margin-top: 10px;
    color: white;
    cursor: pointer;
}
.category_section{
    margin: 15px 0 10px 0;
}
.selected-category-item{
    background-color: #C5C5C5;
    font-size: 16px;
    text-transform: uppercase;
    margin-right: 10px;
    display: inline-block;
    padding: 5px;
    margin: 5px;
    color: rgba(0,0,0,0.8);
}
.selected-category-item .destroy-category{
    display: inline-block;
    margin-left: 4px;
    color: #9A2121;
    cursor: pointer;
}
.selected-category-item .category-label-section{    
    text-decoration: underline;
}
.wrap-checkbox h4{
    margin-bottom: 20px;
    font-size: 26px;
    font-weight: 100;
}
.wrap-checkbox input[type=checkbox]{
    float: left;
    padding: 0;
    margin-right: 5px;
    width: 20px;
    height: 20px;
}
.wrap-checkbox span{
    line-height: 20px;
}
.error-registration{
    color: #F11111;
    line-height: 30px;
    font-size: 18px;
}
.top-countries-by-views, .interested-collaboration{
    background-color: white;
    padding: 10px;
    margin: 15px 0;
    box-shadow: 0 1px 2px rgba(0,0,0,.1);
}
.item-country{
    font-size: 16px;
    margin-bottom: 14px;
    font-family: "FRANKLIN GOTHIC BOOK";
}
.label-profile{
    font-family: "FRANKLIN GOTHIC BOOK";
}
.top-countries-by-views h3{
    margin-bottom: 10px;
}
.interested-in{
    text-align: center;
}
.wrap-blocks-collaboration{
    padding-top: 2px;
    overflow: hidden;
    position: relative;
}
.wrap-blocks-collaboration hr{
    width: 2px;
    position: absolute;
    height: 100%;
    display: inline;
    text-align: center;
    background-color: #ebebeb;
}
.interested-collaboration{
    padding: 0 0 10px 0;
}
.collaboration-block{
   /* box-shadow: 1px -2px 2px #f6b6b6; */
}
.sponsor-block{
   /* box-shadow: 1px -2px 2px #c3d9f8; */
}
.collaboration-block, .sponsor-block{
    padding: 10px;
    float: left;
    width: 50%;
}
.collaboration-block h3, .sponsor-block h3{
    text-align: center;
}
.item-collaboration-block{
    margin-bottom: 10px;
}
.item-collaboration-block i{
    margin-right: 10px;
    color: #EA4848;
}
.collaboration-block .item-collaboration-block i.fa-check{
    color: #f18080;
}
.item-collaboration-block i.fa-check{
    color: #89b5f2;
 }
.sponsor-block{
    float: none;
    margin-left: 50%;
}


/* ADMIN */
header, .registration-form{
    background-color: white;
}
.header-tag{
    -webkit-box-shadow: -4px 3px 5px 0px rgba(0, 0, 0, 0.33);
    -moz-box-shadow: -4px 3px 5px 0px rgba(0, 0, 0, 0.33);
    box-shadow: -4px 3px 5px 0px rgba(0, 0, 0, 0.33);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    background-color: white;
    padding-bottom: 10px;
}
.header-tag .header{
    width: 1000px;
    margin: 0 auto;
}
.header-tag ul{
    float: right;
    display: inline-block;
    margin-top: 42px;
    font-size: 14px;
}
.header-tag ul li{
    display: inline-block;
    margin: 0 10px;
}
.header-tag ul li a, .filling-registration{
    color: #568ce2;
}
.header-tag ul li a:hover{
    text-decoration: underline;
}
.header-tag .logo{
    display: inline-block;
    width: 300px;
    height: 48px;
    margin-top: 15px;
    background-repeat: no-repeat;
    background-image: url(http://channelpages.com/assets/img/v2/logo.png);
}
.header-tag .logo a{
    display: block;
    width: 100%;
    height: 100%;
}

.middle-block{
    overflow: hidden;
    width: 1095px;
    margin: auto;
    padding: 10px;
    min-height: 240px;
}
/*.left-menu, .offers-info-block{
    box-shadow: 1px -1px 2px #D2D2D2;
    -webkit-box-shadow: 1px -1px 2px #D2D2D2;
    -moz-box-shadow: 1px -1px 2px #D2D2D2;
}*/
.left-menu{
    padding: 10px 0;
    width: 230px;
    float: left;
    margin-top: 110px;
    background-color: white;
    box-shadow: 0 1px 2px rgba(0,0,0,.1);
}
.left-menu ul li{
    margin-bottom: 5px;
}
.search-dop-filter{
    padding: 0 10px;
}
.search-dop-filter span{
    font-family: 'Franklin Gothic Demi Cond';
    color: #393939;
    font-size: 20px;
    text-transform: uppercase;
}
.left-menu label{
    font-family: 'Franklin Gothic Demi Cond';
    color: #393939;
}
.left-menu .wrap-search-checkbox-text  .item-select-search{
    padding: 10px;
    margin: 10px auto;
    display: block;
    width: 185px;
}
/*.left-menu ul > li{
    border-left: 5px solid rgba(0,0,0,0);
}*/
.left-menu ul li a{
   font-family: 'Franklin Gothic Demi Cond', arial;
}
.left-menu ul li span, .info-block-name, .demographic-info h3, .graphic_text, .new_offer_unless_exists, .field label{
    font-family: "Enigmatic";
}
.my-statistics p span{
    font-family: "Arial Rounded MT Bold";
}
.info-center h3{
    font-family: 'Franklin Gothic Demi Cond', arial;
}
.left-menu ul li a{
    padding-left: 5px;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.73);
}
.left-menu ul li a:hover, .info-blocks tr td a:hover{
    text-decoration: underline;
}
.info-center{
    margin-left: 245px;
    margin-top: 110px;
}
.offers-info-block{
    background-color: white;
    min-height: 200px;
    width: 39%;
    float: left;
}
.info-blocks{
    background-color: white;
}
.info-blocks .offers-header{
    background-color: #ECECEC;
}
.info-blocks tr th, .info-blocks tr td{
    padding: 5px;
    vertical-align: top;
}
.info-blocks tr th span{
    font-size: 14px;
}
.info-blocks tr{
    text-align: center;
}
.info-blocks tr td a, .info-blocks tr td span{
    font-size: 14px;
    color: rgba(0,0,0,0.7);
}
.offer-message-info-block{
    min-height: 200px;
    margin-left: 43%;
    background-color: white;
}
.offer-message-info-block p, .offers-info-block p{
    font-size: 14px;
}
.offer-message-info-block p{
    margin: 10px;
}
.info-block-name{
    background-color: white;
    padding: 5px 10px;
    font-size: 26px;
}
.your-profile-info{
    margin-top: 30px;
}
.profile-trailer{
    box-shadow: 0 1px 2px rgba(0,0,0,.1);
    background-color: white;
    width: 400px;
    float: left;
    position: relative;
    padding-bottom: 29.12%;
    height: 0;
    margin-bottom: 10px;
    /*box-shadow: -2px -2px 2px #f6b6b6;*/
}
.profile-trailer iframe{
    position: absolute;
    left: 0;
    margin-bottom: 10px;
    width: 100%;
    cursor: pointer;
    height: calc(100% - 28px);
    height: -webkit-calc(100% - 28px);
    height: -moz-calc(100% - 28px);
}
.my-statistics{
    /*box-shadow: 2px -2px 2px #f6b6b6;*/
    overflow: hidden;
    padding: 0 10px; 
    background-color: white;
    height: 100%;
    left: 0;
    right: 0;
    position: absolute;
    box-shadow: 0 1px 2px rgba(0,0,0,.1);
}
.my-statistics p{
    overflow: hidden;
    margin-bottom: 10px;
    font-size: 14px;
    font-family: "FRANKLIN GOTHIC BOOK";
}
.my-statistics p span{
    font-size: 16px;
    float: right;
}
.my-statistics h3{
    margin: 10px 0;
}
.country-percentage{
    color: #f29b9b;
    font-weight: bold;
    font-family: arial, sans-serif;
    font-size: 18px;
}
.wrap-profile-statistics{
    padding-top: 2px;
    position: relative;
    margin-bottom: 10px;
    min-height: 276px;
}
.demographic-info{
    background-color: white;
    padding: 10px;
    display: inline-block;
    width: 550px;
    height: 220px;
    box-shadow: 0 1px 2px rgba(0,0,0,.1);
   /* box-shadow: 0px -2px 2px #f6b6b6;*/
}
.info-percent-demographic{
    margin-top: 10px;
}
.gender-type-demographic{
    display: inline-block;
    width: 140px;
    font-size: 16px;
    font-family: "FRANKLIN GOTHIC BOOK";
}
.age-table{
    line-height: 50px;
    overflow: hidden;
    margin: 10px 0;
    padding: 10px 0;
    border-top: 1px solid;
    border-bottom: 1px solid;
}
.gender-type-demographic{
    float: left;
}
.points-statistic-demographic{
    text-align: center;
    width: 48px;
    height: 48px;
    float: left;
    margin-right: 10px;
    position: relative;
}
.points-statistic-demographic span{
    font-size: 16px;
    font-family: "FRANKLIN GOTHIC BOOK";
}
.male-female-demographic{
    line-height: 50px;
    overflow: hidden;
}
.drawing-point-demographic{
    width: 100%;
    display: inline-block; 
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: #EA4848;
}
.graphic_female{
    top: 0;
}
.points-statistic-demographic .graphic_text{
    position: relative;
    z-index: 99;
    font-size: 18px;
}
.percent-of-gender{
    margin-left: 10px;
    font-weight: bold;

}


/* OFFERS */
.offers-menu{
    margin: 5px 10px 5px 15px;
}
.left-menu .offers-menu li a{
    font-size: 16px;
    font-family: "FRANKLIN GOTHIC BOOK";
    color: black;
}
.info-blocks tr td .editable-icon{
    font-size: 18px;
    margin: 0 5px;
}
.info-blocks tr td .remove-icon:hover{
    color: #CE2323;
}
.new_offer_unless_exists{
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
}
.new_offer_unless_exists:hover{
    text-decoration: underline;
}
.info-center h3{
    font-size: 22px;
    font-weight: 100;
}
.home-form{
    margin-top: 10px;
    width: 60%;
    max-width: 600px;
}
.middle-block-createoffer .info-center h3{
    font-size: 24px;
    margin-bottom: 20px;
}
.success-creating{
    display: none;
    width: 100%;
    border: 2px solid green;
    padding: 10px;
    float: left;
}
.middle-block-createoffer .info-center .success-creating h3{
    margin-bottom: 0;
    font-size: 24px;
}

/* PROFILE */
.brand-href{
    margin: 10px 0;
    font-size: 14px;
    color: gray;
}
.brand-href a:hover{
    text-decoration: underline;
}

/* ACCOUNT */
.info-center .registration-form{
    margin: 0;
    padding: 0;
    width: auto;
}
.info-center .registration-form .wrap-form-fields{
    border: 0;
}

/* SEARCH */
.list_category,.search-block{
    margin-bottom: 15px;
    margin-top: 0;
    width: 100%;
}
.info-blocks .list_category h3{
    margin: 10px;
    font-family: "FRANKLIN GOTHIC BOOK";
    font-size: 18px;
    font-weight: bold;
}
.wrap-category-name{
    padding: 10px;
    background-color: #f5f5f5;
}
.wrap-category-name .selected-category-item{
    background-color: rgba(0,0,0,0);
}
.wrap-category-name .selected-category-item a{
    text-decoration: none;
}
.search-block{
    overflow: hidden;
    width: 100%;
    position: relative;
}
.wrap-category-name .selected-category-item a{
    font-family: "FRANKLIN GOTHIC BOOK"; 
}
.search-block h3{
    height: 41px;
    line-height: 41px;
    font-family: "FRANKLIN GOTHIC BOOK";
    font-size: 18px;
    font-weight: bold;
}
.channel-write{
    overflow: hidden;
    margin: 10px 0;
    padding: 3px 0;
}
.info-center .channel-write a:hover{
    text-decoration: none;
}
.info-center .channel-write a{
    padding: 5px 20px;
    font-size: 14px;
    background-color: #6092d0;
    font-family: Arial;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
}
.channel-table-name, .channel-write{
    text-align: left;
}
.info-center h3.label-channels{
    font-weight: bold;
    padding: 10px;
    font-size: 24px;
    font-family: "FRANKLIN GOTHIC BOOK";
}
.searching-channel table td, .searching-channel table td a, .searching-channel table td span {
    font-family: "FRANKLIN GOTHIC BOOK";
    font-size: 16px;
}
.search-block{
    padding: 0 10px;
}
.item-select-search{
    width: auto;
    margin-right: 10px;
    background-color: rgba(245, 245, 245, 0.51);
}
.item-select-search label{
    font-size: 14px;
}
.item-select-search label{
    display: inline-block;
    width: auto;
    float: none;
    font-weight: 100;
}
.item-select-search.field{
    padding: 5px;
    margin-bottom: 10px;
}
.item-select-search.field label{
    padding: 0;
    line-height: 16px;
}
.item-select-search.field input[type=checkbox]{
    width: 16px;
    height: 16px;
}
.wrap-search-checkbox{
    overflow: hidden;
    margin: 10px 0;
}
.item-select-search.field input[type=text]{
    float: none;
    width: auto;
    height: 25px;
    line-height: 23px;
    margin-top: 4px;
    font-size: 14px;
    padding-left: 2px;
    border: 1px solid #AAADB1;
}
.show-search-menu{
    font-size: 30px;
    color: #C5C5C5;
    position: absolute;
    left: 220px;
}
.item-channel a img{
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
}
.info-blocks .channels tr th, .info-blocks .channels tr td{
    padding: 0;
}
.info-blocks .channels tr th{
    vertical-align: middle;
}
.info-blocks .channels tr th span{
    display: inline-block;
    margin: 5px 0;
}
.info-blocks tr .userinfo{
    text-align: center;
}
.topic-message, .item-message{
    background-color: white;
    padding: 10px;
}
.item-message{
    margin: 20px 0;
}
.item-message p{
    margin: 5px 0;
}
.new-message{
    margin-top: 10px;
}
.field.new-message{
    padding-bottom: 0;
}
.field.new-message textarea, .field textarea#topic_description, .field textarea#yslygi_description{
    height: 150px;
}
.message-write{
    margin: 20px 0;
    padding: 0 10px;
}
.new-topic, .new-yslyga{
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    padding: 8px 16px;
    margin: 0 auto;
    background-color: #D43D3D;
    font-size: 18px;
    color: white;
    cursor: pointer;
    margin-bottom: 15px;
}
.new-yslyga{
    margin-left: 10px;
}
.new-topic:hover{
    background-color: #CE2323;
}
.topic-new, .yslyga-new{
    margin-bottom: 15px;
    background-color: white;
    padding: 10px;
    /*box-shadow: 0px -2px 2px #f6b6b6;*/
}
#topic_happing_to, #happing #topic_date{
    float: left;
    display: inline-block;
    width: auto;
}
#topic_happing_to_select, #topic_date_happing{
    display: inline-block;
    width: auto;
    margin-right: 10px;
}
#happing label{
    line-height: 45px;
    margin-right: 10px;
}
/* OFFER DETAUILS */
.middle-offer{
    background-color: #F7F7F7;
    padding: 10px;
}
.middle-offer p{
    margin: 10px 0;
}
.apply-offer{
    padding: 10px 20px;
    background-color: #EA4848;
    margin: 5px 0;
    display: inline-block;
    color: white;
}
.apply-offer:hover{
    background-color: #E03D3D;
}
.main-details-offer{
    margin-bottom: 20px;
}
.main-details-offer a:hover{
    text-decoration: underline;
}
.main-details-offer a{
    line-height: 50px;
}
.main-details-offer img{
    float: left;
    margin-right: 10px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
}
.offer-information{
    margin-bottom: 35px;
}
.searching-input{
    margin: 20px 0;
    position: relative;
}
.searching-input input{
    margin-top: 10px;
    color: rgb(160, 154, 154);
    border: 1px solid rgba(156, 156, 156, 0.37);
    padding: 12px 55px 12px 5px;
    font-size: 18px;
    width: 98%;
    margin-left: 1%;
    background-color: whitesmoke;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}
.searching-input button{
    position: absolute;
    height: 47px;
    bottom: 0;
    right: 1%;
    width: 50px;
    background-color: #D06060;
    font-size: 20px;
    cursor: pointer;
    color: rgb(245, 245, 245);
    border-radius: 0 5px 5px 0;
    -webkit-border-radius: 0 5px 5px 0;
    -moz-border-radius: 0 5px 5px 0;
}
.collaboration-block h3, .sponsor-block h3{
    margin-bottom: 10px;
}
.success-creating-topic, .success-creating-yslygi{
    margin: 20px 0;
}

/* PUBLIC */
.loading{
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9999;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.94);
}
.cent-loading{
    position: absolute;
    left: 50%;
    top: 50%;
    width: 400px;
    margin-left: -200px;
    height: 400px;
    margin-top: -200px;

}
.loading-name{
    margin: 10px 0;
    font-size: 24px;
    text-transform: uppercase;
    color: white;
    position: absolute;
    width: 100%;
    top: 100px;
    text-align: center;
}
.bg-slider{
    background-color: black;
    position: relative;
    height: 500px;
    width: 100%;
}
.bg-slide{
    transition: all 2s ease-in-out;
    -webkit-transition: all 2s ease-in-out;
    -moz-transition: all 2s ease-in-out;

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: 100%;
    background-repeat: no-repeat;
}
.bg-slide-1{
    background-image: url(../images/1slide.jpg);
}
.bg-slide-2{
    background-image: url(../images/2slide.jpg);
}
.bg-slide-3{
    background-image: url(../images/3slide.jpg);
}
.content{
    width: 1000px;
    left: 50%;
    margin-left: -500px;
    position: absolute;
    text-align: center;
    z-index: 99;
    top: 100px;
}
.content h1{
    height: 61px;
    line-height: 61px;
}
.content h1 span{
    font-size: 50px;
    color: white;
    font-family: Bebas;
}
.content h1 hr{
    display: inline-block;
    width: 200px;
    height: 2px;
    background-color: white;
    margin: -20px 20px 0 20px;
    vertical-align: middle;
}
.content p{
    font-family: Bebas;
    font-size: 18px;
    color: white;
    margin-top: 20px;
}
.content p a{
    color: #1d82e0;
    font-weight: bold;
    font-family: Bebas;
}
.content button{
    position: relative;
    cursor: pointer;
    margin-top: 70px;
    padding: 15px 60px;
    background-color: rgba(0,0,0,0);
    border: 2px solid #b94942;
    font-family: Bebas;
    font-size: 20px;
    color: white;
}
.content button:hover .background-fon-button, .enter-for-collaborate:hover .background-fon-button{
    height: 100%;
}
.content button .background-fon-button, .enter-for-collaborate .background-fon-button{
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #b94942;
    width: 100%;
    height: 0;

    transition: all 0.1s ease-in-out;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
}
.fon-text{
    position: relative;
    z-index: 999;
}
.main-info{
    max-width: 1000px;
    margin: 0 auto;
    margin: 30px auto;
    overflow: hidden;
}
.item-main-info{
    display: inline-block;
    width: 26%;
    margin: 0 3.4%;
    height: 200px;
    background-color: #eb3e3e;
}
.item-main-info h3{
    text-align: center;
    margin: 10px;
    font-family: Bebas;
    font-size: 24px;
    font-weight: 100;
    padding-bottom: 5px;
    color: white;
    border-bottom: 2px solid white;
}
.item-main-info p{
    margin: 10px;
    color: white;
}
.enter-for-collaborate{
    font-family: "Enigmatic";
    font-size: 20px;
    border: 1px solid #EA4848;
    padding: 10px;
    margin: 10px 0;
    display: inline-block;   
}
.enter-for-collaborate{
    position: relative;
    cursor: pointer;
}
.enter-for-collaborate:hover .fon-text{
    color: white;
}

footer{
    padding: 10px 0;
    margin-top: 150px;
    background-color: #101a2b;
    position: absolute;
    width: 100%;
}
.footer{
    width: 1000px;
    margin: 0 auto;
    padding: 10px;
}
.footer-icons{
    color: white;
    float: right;
}
.footer-icons i, .footer-icons span{
    display: inline-block;
}
.footer-icons span{
    margin-left: 10px;
}
.top-footer{
    overflow: hidden;
}
.copyright{
    text-transform: uppercase;
    margin-bottom: 10px;
    font-size: 14px;
    color: #8f98ac;
    text-align: center;
}

.top-block-profile{
    overflow: hidden;
    background-color: white;
    margin-bottom: 15px;
    box-shadow: 0 1px 2px rgba(0,0,0,.1);
}
.left-top-profile{
    float: left;
    padding: 30px 0;
    text-align: center;
    width: 212px;
    height: 190px;
    background-color: #F6494F;
}
.left-top-profile img{
    display: inline;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
}
.left-top-profile h3{
    color: white;
    font-weight: 100;
    font-size: 22px;
    font-family: Enigmatic;
}
.left-top-profile{
}
.right-top-profile{
    margin: 10px 10px 10px 242px;
}
.right-top-profile h3{
    margin-bottom: 5px;
}
.right-top-profile p i{
    color: #e75a4d;
}
.right-top-profile p{
    font-size: 14px;
}
.profile-trailer h3{
    margin: 10px;
}
.left-menu ul .active_menu_li{
    border-left: 5px solid #cb302e;
}
.countries-info{
    display: inline-block;
    width: 290px;
    height: 220px;
    margin-left: 15px;
    padding: 10px;
    vertical-align: top;
    background-color: white;
    box-shadow: 0 1px 2px rgba(0,0,0,.1);
}
.wrap-second-block-profile{
    height: 240px;
    margin: 15px 0;
}
.countries-info h3{
    margin-bottom: 10px;
}
.width-country{
    display: inline-block;
    height: 22px;
    margin-bottom: 5px;
    float: right;
}
.countries-info div:nth-child(2n) .width-country{
    background-color: #ef3f3f;
}
.countries-info div:nth-child(3n) .width-country{
    background-color: #3f92ef;
}
.countries-info div:last-child .width-country{
    background-color: #37973e;
}
.item-country span:last-child{
    float: right;
    margin-right: 10px;
}