.filling-registration{
	text-decoration: underline;
}
section.video-bg{
	position: relative;
	height: 875px;
}
.index-video{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 0;
}
.middle-label-video{
	position: absolute;
	width: 80%;
	left: 10%;
	top: 300px;
	background-color: rgba(255, 255, 255, 0.8);
	border: 3px solid white;
	z-index: 99;
	padding: 33px 40px 25px;
}
.middle-label-video span{
	display: block;
    margin: 0 0 25px;
    text-align: center;
    text-transform: uppercase;
    font-size: 34px;
    line-height: 38px;
    font-weight: normal;
    color: #000;
}
.join-button{
	transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	padding: 12px 20px;
    margin: 0 auto;
    display: inherit;
    background-color: #D43D3D;
    font-size: 18px;
    color: white;
    cursor: pointer;
}
.join-button:hover{
	background-color: #CE2323;
}
.index-description{
	width: 100%;
	overflow: hidden;
    padding: 75px 0 18px;
    background: #e6e6e6;
    position: relative;
} 
.learn-more-index{
	display: block;
    text-align: center;
    margin: 18px 0 0 0;
    color: #A96666;
    text-decoration: underline;
}
.center-second-slide .btn-down{
	bottom: 25px;
}
.center-second-slide, .center-fourth-slide{
	width: 60%;
	margin-left: 20%;
	margin-top: 30px;
	padding: 10px;
	overflow: hidden;
}
.center-second-slide p, .wrap-third-slide p, .center-fourth-slide p, .wrapper-index-instruction p{
	font-size: 24px;
}
.center-second-slide h3, .wrap-third-slide h3, .center-fourth-slide h3, .registration-form h3{
	font-size: 30px;
	margin-bottom: 5px;
}

.text-second-slide, .figure-image{
	float: left;
}
.text-second-slide{
	width: 50%;
}
.figure-image{
	width: 50%;
}
.figure-image img{
	width: 100%;
	height: 100%;
}
.btn-down {
    display: block;
    position: absolute;
    z-index: 1;
    bottom: 10px;
    left: 50%;
    margin-left: -30px;
    width: 60px;
    height: 60px;
    background: url(http://channelpages.com/assets/img/v2/icon-arrow2.png) 0 0 no-repeat;
}
.wrap-third-slide{
	width: 70%;
	margin-left: 15%;
    padding: 43px 0 58px;
    margin-top: 30px;
}
.wrap-third-slide figure{
	width: 100%;
	position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0;
    margin-bottom: 30px;
}
.wrap-third-slide figure iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.wrap-third-slide h3, .wrap-third-slide p{
	margin: 10px 0;
	text-align: center;
}
#slide4 .center-fourth-slide .text-fourth-slide{
	width: 45%;
	float: right;
}
#slide4 .figure-image{
	width: 50%;
}
#slide4{
	background-color: white;
	padding: 43px 0 80px;
}
.index-preview{
    position: relative;
}
.hands {
    width: 100%;
    height: 420px;
    background-image: url(http://channelpages.com/assets/img/v2/hands.jpg);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    -webkit-background-size: cover;
    background-size: cover;
}
.index-instruction{
	padding: 65px 0 35px;
    position: relative;
    background: #A92222;
}
.index-instruction h3 {
    text-align: center;
    margin: 0 0 60px;
    font-size: 49px;
    color: #FFF;
}
.wrapper-index-instruction{
	width: 70%;
	margin-left: 15%;
	overflow: hidden;
}
.wrapper-index-instruction p{
	color: white;
	text-align: center;
}
.wrapper-index-instruction .col-sm-4 h3{
	margin-bottom: 20px;
}
.col-sm-4{
	width: 33.333%;
	float: left;
	padding: 0 10px;
	min-height: 450px;
}
.col-sm-4 figure img{
	margin: 0 auto;
    display: block;
}
.col-sm-4 figure{
	margin-bottom: 15px;
}



/* NEW DESIGN */

 @font-face {
    font-family: "Bebas";
    src: local("Bebas"),
      url(../fonts/BebasRegular.ttf);
 }

.head{
    overflow: hidden;
    max-width: 1000px;
    margin: 0 auto;
}

.head ul{
    float: right;
    display: inline-block;
    font-size: 14px;
}
.head ul li{
    display: inline-block;
    margin: 0 10px;
    padding: 10px 0;
}
.head ul li a, .head ul li button{
    font-size: 20px;
    font-family: Bebas;
}
.head ul li a:hover{
    text-decoration: underline;
}
.head ul li button{
    padding: 5px 20px;
    background-color: #1d87e0;
    color: white;
    cursor: pointer;
}
body .registration-form{
	padding: 0px;
}
body .registration-form .top-header-form{
	padding: 10px;
	color: white;
	background-color: #1d87e0;
	font-size: 24px;
}
body .registration-form .wrap-form-fields .wrap-hint-and-fields{
	padding: 10px;
}
body .registration-form .top-header-form i.fa-info-circle{
	line-height: 35px;
    font-size: 26px;
    cursor: pointer;
}
.info-block-hint{
	display: inline-block;
    float: right;
    position: relative;
}
.info-block-hint:hover .hint-content{
	display: block;
}
.hint-content{
	display: none;
	position: absolute;
	bottom: 100%;
	right: 0;
	width: 200px;
}
.hint-content p{
	font-size: 14px;
	color: black;
	padding: 10px;
	background-color: white;
    border: 2px solid #147390;
}