.filling-registration{
	text-decoration: underline;
}
section.video-bg{
	position: relative;
	height: 875px;
}
.index-video{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 0;
}
.middle-label-video{
	position: absolute;
	width: 80%;
	left: 10%;
	top: 300px;
	background-color: rgba(255, 255, 255, 0.8);
	border: 3px solid white;
	z-index: 99;
	padding: 33px 40px 25px;
}
.middle-label-video span{
	display: block;
    margin: 0 0 25px;
    text-align: center;
    text-transform: uppercase;
    font-size: 34px;
    line-height: 38px;
    font-weight: normal;
    color: #000;
}
.join-button{
	transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	padding: 12px 20px;
    margin: 0 auto;
    display: inherit;
    background-color: #D43D3D;
    font-size: 18px;
    color: white;
    cursor: pointer;
}
.join-button:hover{
	background-color: #CE2323;
}
.index-description{
	width: 100%;
	overflow: hidden;
    padding: 75px 0 18px;
    background: #e6e6e6;
    position: relative;
} 
.learn-more-index{
	display: block;
    text-align: center;
    margin: 18px 0 0 0;
    color: #A96666;
    text-decoration: underline;
}
.center-second-slide .btn-down{
	bottom: 25px;
}
.center-second-slide, .center-fourth-slide{
	width: 60%;
	margin-left: 20%;
	margin-top: 30px;
	padding: 10px;
	overflow: hidden;
}
.center-second-slide p, .wrap-third-slide p, .center-fourth-slide p, .wrapper-index-instruction p{
	font-size: 24px;
}
.center-second-slide h3, .wrap-third-slide h3, .center-fourth-slide h3, .registration-form h3{
	font-size: 30px;
	margin-bottom: 5px;
}

.text-second-slide, .figure-image{
	float: left;
}
.text-second-slide{
	width: 50%;
}
.figure-image{
	width: 50%;
}
.figure-image img{
	width: 100%;
	height: 100%;
}
.btn-down {
    display: block;
    position: absolute;
    z-index: 1;
    bottom: 10px;
    left: 50%;
    margin-left: -30px;
    width: 60px;
    height: 60px;
    background: url(http://channelpages.com/assets/img/v2/icon-arrow2.png) 0 0 no-repeat;
}
.wrap-third-slide{
	width: 70%;
	margin-left: 15%;
    padding: 43px 0 58px;
    margin-top: 30px;
}
.wrap-third-slide figure{
	width: 100%;
	position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0;
    margin-bottom: 30px;
}
.wrap-third-slide figure iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.wrap-third-slide h3, .wrap-third-slide p{
	margin: 10px 0;
	text-align: center;
}
#slide4 .center-fourth-slide .text-fourth-slide{
	width: 45%;
	float: right;
}
#slide4 .figure-image{
	width: 50%;
}
#slide4{
	background-color: white;
	padding: 43px 0 80px;
}
.index-preview{
    position: relative;
}
.hands {
    width: 100%;
    height: 420px;
    background-image: url(http://channelpages.com/assets/img/v2/hands.jpg);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    -webkit-background-size: cover;
    background-size: cover;
}
.index-instruction{
	padding: 65px 0 35px;
    position: relative;
    background: #A92222;
}
.index-instruction h3 {
    text-align: center;
    margin: 0 0 60px;
    font-size: 49px;
    color: #FFF;
}
.wrapper-index-instruction{
	width: 70%;
	margin-left: 15%;
	overflow: hidden;
}
.wrapper-index-instruction p{
	color: white;
	text-align: center;
}
.wrapper-index-instruction .col-sm-4 h3{
	margin-bottom: 20px;
}
.col-sm-4{
	width: 33.333%;
	float: left;
	padding: 0 10px;
	min-height: 450px;
}
.col-sm-4 figure img{
	margin: 0 auto;
    display: block;
}
.col-sm-4 figure{
	margin-bottom: 15px;
}




 @font-face {
    font-family: "Bebas";
    src: local("Bebas"),
      url(../fonts/BebasRegular.ttf);
 }

.head{
	overflow: hidden;
	max-width: 1000px;
	margin: 0 auto;
}

.head ul{
	float: right;
    display: inline-block;
    font-size: 14px;
}
.head ul li{
	display: inline-block;
	margin: 0 10px;
	padding: 10px 0;
}
.head ul li a, .head ul li button{
	font-size: 20px;
	font-family: Bebas;
}
.head ul li a:hover{
	text-decoration: underline;
}
.head ul li button{
	padding: 5px 20px;
	background-color: #1d87e0;
	color: white;
	cursor: pointer;
}
.bg-slider{
	background-color: black;
	position: relative;
	height: 500px;
	width: 100%;
}
.bg-slide{
	transition: all 2s ease-in-out;
    -webkit-transition: all 2s ease-in-out;
    -moz-transition: all 2s ease-in-out;

	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-size: 100%;
	background-repeat: no-repeat;
}
.bg-slide-1{
	background-image: url(../images/1slide.jpg);
}
.bg-slide-2{
	background-image: url(../images/2slide.jpg);
}
.bg-slide-3{
	background-image: url(../images/3slide.jpg);
}
.content{
	width: 1000px;
	left: 50%;
	margin-left: -500px;
	position: absolute;
	text-align: center;
	z-index: 99;
	top: 100px;
}
.content h1{
	height: 61px;
	line-height: 61px;
}
.content h1 span{
	font-size: 50px;
	color: white;
	font-family: Bebas;
}
.content h1 hr{
	display: inline-block;
	width: 200px;
	height: 2px;
	background-color: white;
	margin: -20px 20px 0 20px;
    vertical-align: middle;
}
.content p{
	font-family: Bebas;
	font-size: 18px;
	color: white;
	margin-top: 20px;
}
.content p a{
	color: #1d82e0;
	font-weight: bold;
	font-family: Bebas;
}
.content button{
	position: relative;
	cursor: pointer;
	margin-top: 70px;
	padding: 15px 60px;
	background-color: rgba(0,0,0,0);
	border: 2px solid #b94942;
	font-family: Bebas;
	font-size: 20px;
	color: white;
}
.content button:hover .background-fon-button{
	height: 100%;
}
.content button .background-fon-button{
	z-index: 0;
	position: absolute;
	top: 0;
	left: 0;
	background-color: #b94942;
	width: 100%;
	height: 0;

	transition: all 0.1s ease-in-out;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
}
.fon-text{
	position: relative;
	z-index: 999;
}
.main-info{
	max-width: 1000px;
	margin: 0 auto;
	margin: 30px auto;
	overflow: hidden;
}
.item-main-info{
	display: inline-block;
	width: 26%;
	margin: 0 3.4%;
	height: 200px;
	background-color: #eb3e3e;
}
.item-main-info h3{
	text-align: center;
	margin: 10px;
	font-family: Bebas;
	font-size: 24px;
	font-weight: 100;
	padding-bottom: 5px;
	color: white;
	border-bottom: 2px solid white;
}
.item-main-info p{
	margin: 10px;
	color: white;
}