<% action=params[:action] %>
<% if session[:youtube_info_id] %>
	<nav class="left-menu">
		<ul>
			<li <% if action=="me" %>class="active_menu_li"<% end %>><a href="/me"><span><%= YoutubeInfoId.find(session[:youtube_info_id]).name %></span></a></li>
			<li>
				<% actions_offers=["offers", "collabration", "createoffer"] %>
				<a href="/offer" <% if action=="offers" %>class="active_menu_li"<% end %>>Предложения</a>
				<% if actions_offers.include?(params[:action]) %>
					<ul class="offers-menu">
						<li><a href="/offer">Ваши предложения</a></li>
						<li><a href="/sponsors">Услуги</a></li>
						<li><a href="/collabration">Сотрудничество</a></li>
						<li><a href="/createoffer">Создать предложение</a></li>
					</ul>
				<% end %>
			</li>
			<li <% if action=="profile" %>class="active_menu_li"<% end %>><a href="/profile/<%= session[:user_id] %>">Профиль</a></li>
			<li <% if action=="account" %>class="active_menu_li"<% end %>><a href="/account">Акаунт</a></li>
		</ul>
	</nav>	
<% else %>
	<style type="text/css">
		body .info-center{
			margin-left: 0;	
		}
		body .middle-block{
			margin-top: 10px;
		}
	</style>
<% end %>