<% action=params[:action] %>
<% if session[:youtube_info_id] %>
	<nav class="left-menu">
		<% if params[:action]!="search" %>
			<ul>
				<li <% if action=="profile" %>class="active_menu_li"<% end %>><a href="/profile/<%= session[:user_id] %>"><span><%= YoutubeInfoId.find(session[:youtube_info_id]).name %></span></a></li>
				<li>
					<% actions_offers=["offers", "collabration", "createoffer", "sponsors"] %>
					<a href="/offer" <% if action=="offers" %>class="active_menu_li"<% end %>>Предложения</a>
					<% if actions_offers.include?(params[:action]) %>
						<ul class="offers-menu">
							<li><a href="/offer">Ваши предложения</a></li>
							<li><a href="/sponsors">Услуги</a></li>
							<li><a href="/collabration">Сотрудничество</a></li>
							<li><a href="/createoffer">Создать предложение</a></li>
						</ul>
					<% end %>
				</li>
				<li <% if action=="account" %>class="active_menu_li"<% end %>><a href="/account">Акаунт</a></li>
			</ul>
		<% else %>
			<p class="search-dop-filter"><span>Доп. фильтры</span></p>
			<div class="wrap-search-checkbox wrap-search-checkbox-text">
			<div class="item-select-search field">
				<label>Возраст</label><br/>
				<input type="text" name="search[age_gteq_gteq]" value="0" data-index="0">
				<input type="text" name="search[age_lteq_lteq]" value="100" data-index="1">
				<div class="slider" data-value="100"></div>
			</div>

			<div class="item-select-search field">
				<label>К-во подписчиков</label><br/>
				<input type="text" name="search[subscribers_gteq]" value="0" data-index="0">
				<input type="text" name="search[subscribers_lteq]" value="1000000" data-index="1">
				<div class="slider" data-value="1000000"></div>
			</div>

			<div class="item-select-search field">
				<label>Просмотры за месяц</label><br/>
				<input type="text" name="search[views_per_month_gteq]" value="0" data-index="0">
				<input type="text" name="search[views_per_month_lteq]" value="1000000" data-index="1">
				<div class="slider" data-value="1000000"></div>
			</div>

			<div class="item-select-search field">
				<label>Среднее к-во просмотров на видео</label><br/>
				<input type="text" name="search[average_views_per_video_gteq]" value="0" data-index="0">
				<input type="text" name="search[average_views_per_video_lteq]" value="20000" data-index="1">
				<div class="slider" data-value="20000"></div>
			</div>

			<div class="item-select-search field">
				<label>Среднее к-во "Поделиться"</label><br/>
				<input type="text" name="search[average_sharing_gteq]" value="0" data-index="0">
				<input type="text" name="search[average_sharing_lteq]" value="15" data-index="1">
				<div class="slider" data-value="15"></div>
			</div>

			<div class="item-select-search field">
				<label>Среднее к-вл лайков</label><br/>
				<input type="text" name="search[average_likes_gteq]" value="0" data-index="0">
				<input type="text" name="search[average_likes_lteq]" value="20000" data-index="1">
				<div class="slider" data-value="20000"></div>
			</div>

			<div class="item-select-search field">
				<label>Среднее к-во видео в месяц</label><br/>
				<input type="text" name="search[average_posted_videos_per_month_gteq]" value="0" data-index="0">
				<input type="text" name="search[average_posted_videos_per_month_lteq]" value="100" data-index="1">
				<div class="slider" data-value="100"></div>
			</div>
			</div>
		<% end %>
	</nav>	
<% else %>
	<style type="text/css">
		body .info-center{
			margin-left: 0;	
		}
		body .middle-block{
			margin-top: 10px;
		}
	</style>
<% end %>