<div class="list_category category_section">
	<h3>Категории</h3>
	<% categories=Category.all.sort_by!{ |m| m.name.downcase } %>
	<% categories.each do |f| %>
		<span class="selected-category-item"><a href="/category/<%= f.id %>" class="category-label-section"><%= f.name %></a></span>
	<% end %>
</div>