<div class="search-block wrap-checkbox" data-id="<%= @id=params[:id] %>">
	<% count_users=@users.count %>
	<a href="#" class="show-search-menu" <% if count_users>3 %>style="display: none;"<% end %>>
		<i class="fa fa-chevron-circle-down" <% if count_users<4 %>style="display:none;"<% end %>></i>
		<i class="fa fa-chevron-circle-up" <% if count_users>3 %>style="display:none;"<% end %>></i>
	</a>
	<h3>Фильтры:</h3>
	<div class="wrap-search-checkbox">
	<div class="item-select-search field">
		<input type="checkbox" name="search[gender_percentage_cont]" value="male">
		<label for="search[gender_percentage_cont]">Мужчины</label>
	</div>
	<div class="item-select-search field">
		<input type="checkbox" name="search[gender_percentage_cont]" value="female">
		<label for="search[gender_percentage_cont]">Женщины</label>
	</div>

	<div class="item-select-search field">
		<input type="checkbox" name="search[create_videos_eq]">
		<label for="search[create_videos_eq]">Создание видео вместе</label>
	</div>

	<div class="item-select-search field">
		<input type="checkbox" name="search[making_channel_toghether_eq]">
		<label for="search[making_channel_toghether_eq]">Создание канала вместе</label>
	</div>

	<div class="item-select-search field">
		<input type="checkbox" name="search[cross_promotions_and_email_lists_eq]">
		<label for="search[cross_promotions_and_email_lists_eq]">Продвижение вне Ютуба</label>
	</div>

	<div class="item-select-search field">
		<input type="checkbox" name="search[recommended_channel_swapping_eq]">
		<label for="search[recommended_channel_swapping_eq]">Обмен "Рекомендованными каналами"</label>
	</div>

	<div class="item-select-search field">
		<input type="checkbox" name="search[annotation_or_end_card_or_link_swapping_eq]">
		<label for="search[annotation_or_end_card_or_link_swapping_eq]">Обмен ссылками в описании</label>
	</div>

	<div class="item-select-search field">
		<input type="checkbox" name="search[open_to_other_types_eq]">
		<label for="search[open_to_other_types_eq]">Другие виды сотрудничества</label>
	</div>

	<div class="item-select-search field">
		<input type="checkbox" name="search[brand_product_integration_eq]">
		<label for="search[brand_product_integration_eq]">Интеграция бренда</label>
	</div>

	<div class="item-select-search field">
		<input type="checkbox" name="search[product_reviews_eq]">
		<label for="search[product_reviews_eq]">Обзор на продукты</label>
	</div>

	<div class="item-select-search field">
		<input type="checkbox" name="search[dedicated_videos_eq]">
		<label for="search[dedicated_videos_eq]">Выделенное к-во видео</label>
	</div>

	<div class="item-select-search field">
		<input type="checkbox" name="search[revenue_affiliate_eq]">
		<label for="search[revenue_affiliate_eq]">Выручка от %</label>
	</div>

	<div class="item-select-search field">
		<input type="checkbox" name="search[spokesperson_eq]">
		<label for="search[spokesperson_eq]">Докладчик</label>
	</div>

	<div class="item-select-search field">
		<input type="checkbox" name="search[offyoutube_promotion_eq]">
		<label for="search[offyoutube_promotion_eq]">Продвижение вне YouTube</label>
	</div>

	<div class="item-select-search field">
		<input type="checkbox" name="search[including_brand_videos_eq]">
		<label for="search[including_brand_videos_eq]">Добавление видео про продукт</label>
	</div>
	</div>



	<div class="wrap-search-checkbox">
	<div class="item-select-search field">
		<label>Возраст</label><br/>
		<input type="text" name="search[age_gteq_gteq]" value="">
		<input type="text" name="search[age_lteq_lteq]" value="">
	</div>

	<div class="item-select-search field">
		<label>К-во подписчиков</label><br/>
		<input type="text" name="search[subscribers_gteq]" value="">
		<input type="text" name="search[subscribers_lteq]" value="">
	</div>

	<div class="item-select-search field">
		<label>Просмотры за месяц</label><br/>
		<input type="text" name="search[views_per_month_gteq]" value="">
		<input type="text" name="search[views_per_month_lteq]" value="">
	</div>

	<div class="item-select-search field">
		<label>Среднее к-во просмотров на видео</label><br/>
		<input type="text" name="search[average_views_per_video_gteq]" value="">
		<input type="text" name="search[average_views_per_video_lteq]" value="">
	</div>

	<div class="item-select-search field">
		<label>Среднее к-во "Поделиться"</label><br/>
		<input type="text" name="search[average_sharing_gteq]" value="">
		<input type="text" name="search[average_sharing_lteq]" value="">
	</div>

	<div class="item-select-search field">
		<label>Среднее к-вл лайков</label><br/>
		<input type="text" name="search[average_likes_gteq]" value="">
		<input type="text" name="search[average_likes_lteq]" value="">
	</div>

	<div class="item-select-search field">
		<label>Среднее к-во видео в месяц</label><br/>
		<input type="text" name="search[average_posted_videos_per_month_gteq]" value="">
		<input type="text" name="search[average_posted_videos_per_month_lteq]" value="">
	</div>
	</div>
</div>
<script type="text/javascript">
	$(".item-select-search input[type='checkbox']").change(function(){
		go=true;
		if(!$(this).is(":checked"))
			go=false;

		$(this).parents(".item-select-search").find("input").prop("checked", false);
		$(this).prop("checked", go);
		sendAjaxSearch();
	})

	$("input[type='text']").change(function(){
		sendAjaxSearch();
	})

	function sendAjaxSearch(){
		searchingHash={"id":$(".search-block").data("id")}

		$(".item-select-search input[type='checkbox']").each(function(){
			if($(this).is(":checked")){
				if(!$(this).val() || $(this).val()=="on"){
					$(this).val("true");
				}

				searchingHash[$(this).attr("name")]=$(this).val();
			}
		});

		$(".item-select-search input[type='text']").each(function(){
			searchingHash[$(this).attr("name")]=$(this).val();
		});

		$.ajax({
	          async: true,
	          type: "GET",
	          dataType: 'html',
	          url: "/index/searchingCheckbox",
	          data: searchingHash, 
	          success: function(data){
	          	$(".channels").empty();
	          	$(".channels").append(data);
	          }
	    });
	}

	$(".show-search-menu").click(function(){
		i_tag=$(this).find(".fa-chevron-circle-down");
		down=i_tag.is(":visible");
		console.log(down);
		$(this).find("i").hide();
		if(down)
			$(this).find(".fa-chevron-circle-up").show();
		else
			i_tag.show();

		$(".wrap-search-checkbox").toggle(100);
	})
</script>