<div class="middle-block">
	<%= render "leftMenu" %>
	<div class="info-center">
		<%= render "listCategory.html.erb" %>
		<%= render "searchTemplate.html.erb" %>
		<%= render "channels.html.erb" %>
	</div>
</div>