<% unless session[:user_id] %>
	<main class="main">
		<section class="bg-slider">
			<div class="bg-slide bg-slide-1"></div>
			<div class="bg-slide bg-slide-2" style="opacity: 0;"></div>
			<div class="bg-slide bg-slide-3" style="opacity: 0;"></div>
			<div class="content">
				<h1><hr><span>Раскрутка каналов</span><hr></h1>
				<p>Добавляйте свои канали , общайтесь с другими авторами, добро пожаловать в соц сеть для Ютуберов <a href="/" class="ajax_start">подробнее</a></p>
				<button class="ajax_start"><span class="fon-text">Добавить свой канал</span><span class="background-fon-button"></span></button>
			</div>
		</section>
		<section class="main-info">
			<div class="item-main-info">
				<h3>Поиск Ютуб каналов</h3>
				<p>Some text will be here...Some text will be here...Some text will be here...Some text will be here...Some text will be here...</p>
			</div>
			<div class="item-main-info">
				<h3>Дополнительный доход</h3>
				<p>Some text will be here...Some text will be here...Some text will be here...Some text will be here...Some text will be here...</p>
			</div>
			<div class="item-main-info">
				<h3>Раскрутка каналов</h3>
				<p>Some text will be here...Some text will be here...Some text will be here...Some text will be here...Some text will be here...</p>
			</div>
		</section>
	</main>
<% end %>

<script type="text/javascript" src="/js/basic_index.js"></script>