<div class="middle-block">
	<%= render "leftMenu" %>

	<main class="info-center">
		<div class="offers-info-block"><h3 class="info-block-name">Ваши последние предложения</h3><%= render "offers" %></div>
		<div class="offer-message-info-block"><h3 class="info-block-name">Ваши последние сообщения</h3><%= render "directMessage" %></div>
		<div class="your-profile-info">
			<%= render "profileInfo" %>
		</div>
	</main>
</div>