<div class="middle-block">
	<%= render "leftMenu" %>
	<div class="info-blocks info-center">
		<%= render "listCategory.html.erb" %>
		<%= render "searchTemplate.html.erb" %>
		<div class="searching-input"><input type="text" placeholder="Поиск..."><button><i class="fa fa-search"></i></button></div>
		<div class="channels"><%= render "channels" %></div>
	</div>
</div>