<div class="middle-block">
	<%= render "leftMenu" %>
	<div class="info-blocks info-center">
		<%= render "listCategory.html.erb" %>
		<%= render "searchTemplate.html.erb" %>
		<div class="channels"><%= render "channels" %></div>
	</div>
</div>