<!DOCTYPE html>
<html>
<head>
  <title>Youtubeservice</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">

  <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
  <script src="http://code.jquery.com/ui/1.10.2/jquery-ui.js"></script>
  <script>
	  $(function() {
	    $("#offer_application, #topic_date_happing, #yslygi_date").datepicker();
	  });
  </script>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<link rel="stylesheet" type="text/css" href="/css/basic_css.css">
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<% unless session[:user_id] %>
	<header>
		<div class="head">
			<ul>
				<li><a href="/">Главная</a></li>
				<li><a href="/search">Поиск</a></li>
				<li><button class="ajax_start">Войти</button></li>
			</ul>
		</div>
	</header>
<% else %>
	<link rel="stylesheet" type="text/css" href="/css/style_admin.css">
	<%= render "adminHeader" %>
<% end %>

<%= yield %>

<footer>
	<div class="footer">
		<div class="top-footer">
			<div class="footer-icons">
				<i class="fa fa-envelope-o"></i>
				<span>ghetto-workout-ru@yandex.ru</span>
			</div>
		</div>
		<div class="copyright">
			<span>© YoutubeService 2014-2015</span>
		</div>
	</div>
</footer>

<div class="loading">
	<div class="cent-loading">
		<div class="cssload-preloader cssload-loading">
			<span class="cssload-slice"></span>
			<span class="cssload-slice"></span>
			<span class="cssload-slice"></span>
			<span class="cssload-slice"></span>
			<span class="cssload-slice"></span>
			<span class="cssload-slice"></span>
		</div>
		<h3 class="loading-name">Секундочку, загружаемся...</h3>
	</div>
</div>

<script type="text/javascript" src="/js/basic.js"></script>

</body>
</html>
