<!DOCTYPE html>
<html>
<head>
  <title>Youtubeservice</title>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<link rel="stylesheet" type="text/css" href="/css/basic_css.css">
<% unless session[:user_id] %>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<header>
		<div class="header">
			<div class="logo"><a href="/"></a></div>
			<ul>	
				<% if session[:youtube_info_id] %>	
					<li><span class="filling-registration">Заполнение данных</span></li>
				<% else %>
					<li><a href="#" class="ajax_start">Зарегистрироваться</a></li>
					<li><a href="#" class="ajax_start">Войти</a></li>
				<% end %>
			</ul>
		</div>
	</header>
<% else %>
	<link rel="stylesheet" type="text/css" href="/css/style_admin.css">
	<%= render "adminHeader" %>
<% end %>

<%= yield %>


</body>
</html>
